player-connection-mode=Listen
player-connection-guid=901664720
player-connection-debug=0
player-connection-project-name=Robomaster
player-connection-wait-timeout=-1
player-connection-ip=192.168.20.10
player-connection-ip=192.168.137.1
profiler-enable=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
